<h1>New Course</h1>

<%= form_with(model: @course, url: courses_path, method: :post) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div><br>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div><br>

  <div>
    <%= form.submit 'Create Course' %>
  </div>
<% end %>

